<launch>
  <arg name="namespace" default="uav_arm"/>
  <arg name="altitude" default="2.0"/>
  <arg name="side_length" default="2.0"/>
  <arg name="corner_hold_s" default="3.0"/>
  <arg name="path_speed_mps" default="0.09621358687658534"/>
  <arg name="activation_altitude_m" default="1.9"/>
  <arg name="activation_hold_s" default="1.0"/>
  <arg name="startup_delay_s" default="0.0"/>
  <arg name="static_validation_delay_s" default="-1.0"/>
  <arg name="static_validation_reach_m" default="-1.0"/>
  <arg name="smooth_segments" default="false"/>
  <arg name="use_raw_setpoint" default="true"/>
  <arg name="velocity_ff_scale" default="0.008279872451230363"/>
  <arg name="use_td_setpoint" default="true"/>
  <arg name="td_bandwidth_hz" default="0.32880281660571076"/>
  <arg name="td_accel_limit_mps2" default="0.19318573839061587"/>
  <arg name="td_vel_limit_mps" default="0.22063069013967385"/>
  <arg name="frequency_hz" default="0.5"/>
  <arg name="gui" default="true"/>

  <include file="$(find uav_control)/launch/arm_pid_SITL_Gazebo_uam_v5.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <node pkg="uav_arm_top"
        type="eso_square_arm_experiment_node"
        name="eso_square_arm_experiment"
        output="screen">
    <param name="altitude" value="$(arg altitude)"/>
    <param name="side_length" value="$(arg side_length)"/>
    <param name="corner_hold_s" value="$(arg corner_hold_s)"/>
    <param name="path_speed_mps" value="$(arg path_speed_mps)"/>
    <param name="activation_altitude_m" value="$(arg activation_altitude_m)"/>
    <param name="activation_hold_s" value="$(arg activation_hold_s)"/>
    <param name="startup_delay_s" value="$(arg startup_delay_s)"/>
    <param name="static_validation_delay_s" value="$(arg static_validation_delay_s)"/>
    <param name="static_validation_reach_m" value="$(arg static_validation_reach_m)"/>
    <param name="smooth_segments" value="$(arg smooth_segments)"/>
    <param name="use_raw_setpoint" value="$(arg use_raw_setpoint)"/>
    <param name="velocity_ff_scale" value="$(arg velocity_ff_scale)"/>
    <param name="use_td_setpoint" value="$(arg use_td_setpoint)"/>
    <param name="td_bandwidth_hz" value="$(arg td_bandwidth_hz)"/>
    <param name="td_accel_limit_mps2" value="$(arg td_accel_limit_mps2)"/>
    <param name="td_vel_limit_mps" value="$(arg td_vel_limit_mps)"/>
  </node>

  <node pkg="arm_controller"
        type="uam_v5_experiment_motion.py"
        name="uam_v5_experiment_motion"
        output="screen">
    <param name="namespace" value="$(arg namespace)"/>
    <param name="frequency_hz" value="$(arg frequency_hz)"/>
    <param name="enable_topic" value="/experiment/arm_motion_enabled"/>
  </node>
</launch>
